{% extends 'admin_base.html.twig' %}

{% block title %}Ajout de catégorie
{% endblock %}

{% block titleBis %}
	<h2 class="text-center text-dark">
		<b>Ajout de chambre</b>
	</h2>
{% endblock %}

{% block body %}
	<div class="w-50 mx-auto">
		{{ form_start(form) }}
		{{form_row(form.name)}}
		<div class="d-flex row">
			<button type="submit" class="btn btn-dark mr-3 col-3 offset-2" name="action" value="save">Enregistrer</button>
			<button type="submit" class="btn btn-dark mr-3 col-3 offset-2" name="action" value="continue">Enregistrer et continuer</button>
		</div>
		{{ form_end(form)}}
	</div>
{% endblock %}
