{% extends 'admin_base.html.twig' %}

{% block title %}Personnels
{% endblock %}
{% block body %}
	<h2 class="text-center text-dark mt-2">
		<b>Personnels</b>
	</h2>

	<div class="table-responsive w-75 mx-auto mt-5">
		<table class="table table-striped table-hover table-borderless text-center">
			<thead class="table-dark">
				<td>Nom</td>
				<td>En service</td>
				<td>Voir</td>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user.Username}}</td>
						<td>
							{% if not user.inService %}
								<i class="bi bi-toggle-off"></i>
							{% else %}
								<i class="bi bi-toggle-on text-primary"></i>
							{% endif %}
						</td>
						<td>
							<a href="{{path('app_staff_staff_modify',{ 'slug':user.slug})}}">
								<i class=" bi bi-pencil-square"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
