{% extends 'admin_base.html.twig' %}

{% block title %}Admin - Personnels
{% endblock %}
{% block titleBis %}
	<h2 class="text-center text-dark">
		<b>Personnels</b>
	</h2>
{% endblock %}
{% block body %}
	<div class="table-responsive w-75 mx-auto mt-5">
		<table class="table table-striped table-hover table-borderless text-center">
			<thead class="table-dark">
				<td>Nom</td>
				<td>Grade</td>
				<td>En service</td>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user.Username}}</td>
						<td>
							{{ grade( user.roles )}}
						</td>
						<td>
							{% if not user.inService %}
								<i class="bi bi-toggle-off"></i>
							{% else %}
								<i class="bi bi-toggle-on text-primary"></i>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
