.git
.gitignore
.env
.env.local
.env.*.local
node_modules
vendor
var/cache/*
var/log/*
var/sessions/*
!var/cache/.gitkeep
!var/log/.gitkeep
!var/sessions/.gitkeep
public/build
.DS_Store
Thumbs.db
.idea
.vscode
*.log
docker-compose.yml
docker-compose.override.yml
compose.yaml
compose.override.yaml
Dockerfile
.dockerignore


