CREATE TABLE appointment (id INT AUTO_INCREMENT NOT NULL, civil_id INT NOT NULL, medic_id INT DEFAULT NULL, appointment_at DATETIME DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)', reason VARCHAR(255) NOT NULL, number INT NOT NULL, detail VARCHAR(255) DEFAULT NULL, INDEX IDX_FE38F84484C1DE7E (civil_id), INDEX IDX_FE38F844409615FE (medic_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE care (id INT AUTO_INCREMENT NOT NULL, category_id INT NOT NULL, component_id INT DEFAULT NULL, name VARCHAR(100) NOT NULL, price INT NOT NULL, slug VARCHAR(100) NOT NULL, INDEX IDX_6113A84512469DE2 (category_id), UNIQUE INDEX UNIQ_6113A845E2ABAFFF (component_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE care_sheet (id INT AUTO_INCREMENT NOT NULL, medic_id INT NOT NULL, partner_id INT DEFAULT NULL, is_paid TINYINT(1) NOT NULL, date_care DATETIME NOT NULL, is_far_away TINYINT(1) NOT NULL, invoice INT NOT NULL, INDEX IDX_197F6B90409615FE (medic_id), INDEX IDX_197F6B909393F8FE (partner_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE care_sheet_item (id INT AUTO_INCREMENT NOT NULL, caresheet_id INT NOT NULL, care_id INT NOT NULL, quantity INT NOT NULL, INDEX IDX_BBB28462BF3B79ED (caresheet_id), INDEX IDX_BBB28462F270FD45 (care_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE category_health (id INT AUTO_INCREMENT NOT NULL, name VARCHAR(100) NOT NULL, position INT NOT NULL, slug VARCHAR(100) NOT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE chamber (id INT AUTO_INCREMENT NOT NULL, name VARCHAR(255) NOT NULL, type INT NOT NULL, price INT NOT NULL, slug VARCHAR(3) NOT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE comptability (id INT AUTO_INCREMENT NOT NULL, treasury INT NOT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE objects (id INT AUTO_INCREMENT NOT NULL, name VARCHAR(100) NOT NULL, quantity INT NOT NULL, quantity_trigger INT NOT NULL, buy_price INT DEFAULT NULL, slug VARCHAR(100) DEFAULT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE `order` (id INT AUTO_INCREMENT NOT NULL, medic_id INT NOT NULL, order_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)', receive_at DATETIME DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)', invoice INT NOT NULL, INDEX IDX_F5299398409615FE (medic_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE order_items (id INT AUTO_INCREMENT NOT NULL, order_link_id INT NOT NULL, object_id INT NOT NULL, quantity INT NOT NULL, INDEX IDX_62809DB05BDEAB3A (order_link_id), INDEX IDX_62809DB0232D562B (object_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE partner (id INT AUTO_INCREMENT NOT NULL, name VARCHAR(255) NOT NULL, slug VARCHAR(255) NOT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE quantity (id INT AUTO_INCREMENT NOT NULL, final_product_id INT NOT NULL, component_id INT NOT NULL, quantity INT NOT NULL, INDEX IDX_9FF316364614228F (final_product_id), INDEX IDX_9FF31636E2ABAFFF (component_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE service (id INT AUTO_INCREMENT NOT NULL, medic_id INT NOT NULL, start_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)', finish_at DATETIME DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)', INDEX IDX_E19D9AD2409615FE (medic_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE transaction (id INT AUTO_INCREMENT NOT NULL, comptability_id INT NOT NULL, reason VARCHAR(255) NOT NULL, price INT NOT NULL, done_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)', income TINYINT(1) NOT NULL, INDEX IDX_723705D11E2BBDC3 (comptability_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE user (id INT AUTO_INCREMENT NOT NULL, email VARCHAR(180) NOT NULL, roles JSON NOT NULL, access_token VARCHAR(255) NOT NULL, username VARCHAR(255) NOT NULL, discord_id VARCHAR(255) NOT NULL, slug VARCHAR(255) DEFAULT NULL, in_service TINYINT(1) NOT NULL, UNIQUE INDEX UNIQ_IDENTIFIER_EMAIL (email), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
ALTER TABLE appointment ADD CONSTRAINT FK_FE38F84484C1DE7E FOREIGN KEY (civil_id) REFERENCES user (id);
ALTER TABLE appointment ADD CONSTRAINT FK_FE38F844409615FE FOREIGN KEY (medic_id) REFERENCES user (id);
ALTER TABLE care ADD CONSTRAINT FK_6113A84512469DE2 FOREIGN KEY (category_id) REFERENCES category_health (id);
ALTER TABLE care ADD CONSTRAINT FK_6113A845E2ABAFFF FOREIGN KEY (component_id) REFERENCES objects (id);
ALTER TABLE care_sheet ADD CONSTRAINT FK_197F6B90409615FE FOREIGN KEY (medic_id) REFERENCES user (id);
ALTER TABLE care_sheet ADD CONSTRAINT FK_197F6B909393F8FE FOREIGN KEY (partner_id) REFERENCES partner (id);
ALTER TABLE care_sheet_item ADD CONSTRAINT FK_BBB28462BF3B79ED FOREIGN KEY (caresheet_id) REFERENCES care_sheet (id);
ALTER TABLE care_sheet_item ADD CONSTRAINT FK_BBB28462F270FD45 FOREIGN KEY (care_id) REFERENCES care (id);
ALTER TABLE `order` ADD CONSTRAINT FK_F5299398409615FE FOREIGN KEY (medic_id) REFERENCES user (id);
ALTER TABLE order_items ADD CONSTRAINT FK_62809DB05BDEAB3A FOREIGN KEY (order_link_id) REFERENCES `order` (id);
ALTER TABLE order_items ADD CONSTRAINT FK_62809DB0232D562B FOREIGN KEY (object_id) REFERENCES objects (id);
ALTER TABLE quantity ADD CONSTRAINT FK_9FF316364614228F FOREIGN KEY (final_product_id) REFERENCES objects (id);
ALTER TABLE quantity ADD CONSTRAINT FK_9FF31636E2ABAFFF FOREIGN KEY (component_id) REFERENCES objects (id);
ALTER TABLE service ADD CONSTRAINT FK_E19D9AD2409615FE FOREIGN KEY (medic_id) REFERENCES user (id);
ALTER TABLE transaction ADD CONSTRAINT FK_723705D11E2BBDC3 FOREIGN KEY (comptability_id) REFERENCES comptability (id);
