{% extends 'admin_base.html.twig' %}

{% block title %}Admin - Catégorie de soin
{% endblock %}
{% block titleBis %}
	<h2 class="text-center text-dark mt-2">
		<b>Liste des catégories de soin</b>
		<a class="btn btn-dark float-end " href="{{path('app_staff_category_health_add')}}">
			Ajouter une nouvelle catégorie
		</a>
	</h2>
{% endblock %}
{% block body %}
	<div class="table-responsive w-75 mx-auto mt-5">
		<table class="table table-striped table-hover table-borderless text-center">
			<thead class="table-dark">
				<td>Nom de la catégorie</td>
				<td>Supprimer</td>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{chamber.name}}</td>
						<td>
							<a href="{{path('app_staff_chamber_modify',{ 'slug':chamber.slug})}}">
								<i class="fs-5 bi-trash3-fill"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
