{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}
	<div class="mx-auto w-75 bg-class text-dark text-center text-justify mt-3">
		<p>Bonjour à vous chers habitants de Los Santos.</p>
		<br/>
		<p>Merci de vous être rendu sur notre plateforme. Cette plateforme nous permettra de mieux nous organiser au sein de l'entreprise ainsi qu'envers vous. Pour cela nous vous laisserons vous connecter  et vous pourrez ainsi profiter de l'interface  pour prendre des rendez vous.</p>
		<p>
			<b>Tous les membres du sercteur médical de Los Santos vous remercient<b/></p>
		</p>
	</div>
{% endblock %}
