{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
	<div class="container mt-2">
		<h1 class="text-center">Authentification avec Discord</h1>
		<form action="{{path('app_discord_connect')}}" method="post" class="text-center">
			<input type="hidden" name="token" value="{{csrf_token('discord-auth')}}">
			<button type="submit" class="w-25 mt-5 btn btn-lg btn-primary">Connexion avec Discord</button>
		</form>
	</div>
{% endblock %}
