{% extends 'admin_base.html.twig' %}
{% block name %}
	Administration
{% endblock %}

{% block titleBis %}
	<h2 class="text-center text-dark mt-2">
		<b>Personnels en service</b>
	</h2>
{% endblock %}
{% block body %}
	<div class="table-responsive w-75 mx-auto mt-5">
		<table class="table table-striped table-hover table-borderless text-center">
			<thead class="table-dark">
				<td>Nom</td>
				<td>Grade</td>
			</thead>
			<tbody></tbody>
		</table>
	</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('ListingServiceDoc') }}
{% endblock %}
