@import "~bootstrap/scss/bootstrap";

body,
header {
    background-color: #B3D6F0
}

.bg-class {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

[draggable] {
    user-select: none;
    -webkit-user-drag: element;
    cursor: move;
}

html {
    font-size: 1rem;
}



@include media-breakpoint-only(sm) {
    html {
        font-size: 1.4rem;
    }

    #adminNavBar dropdown-item {

        font-size: 1.2rem;
    }

    h1 {
        font-size: 3rem;
    }

    .btn {
        font-size: 1.2rem !important;
    }

    #offcanvas {
        font-size: 1.4rem !important;
    }

    #toggler-nav-bar {
        font-size: 2.5rem !important;
    }
}

@include media-breakpoint-only(md) {
    html {
        font-size: 1.2rem;
    }

    #adminNavBar dropdown-item {

        font-size: 1.1rem;
    }

    #offcanvas {
        font-size: 1.2rem !important;
    }

}

@include media-breakpoint-only(lg) {
    .btn-circle {
        width: 50px;
        height: 50px;
        padding: 0; // changed
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }
}

@include media-breakpoint-only(xl) {
    .btn-circle.btn {
        width: 70px;
        height: 70px;
        padding: 0; // changed
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
    }
}