{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('civilPlanning') }}
{% endblock %}
{% block title %}Planning
{% endblock %}
{% block titleBis %}
	<h2 class="text-center">
		<b>
			<u>Planning</u>
		</b>
	</h2>
{% endblock %}

{% block body %}
	<div id="calendrier" class="mx-auto w-75 bg-light col py-2"></div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('civilPlanning') }}
{% endblock %}
